<a href="https://colab.research.google.com/github/MthunziMalebadi/About-Me/blob/main/Week_6_AI_in_Action.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Import the pandas library
import pandas as pd

In [2]:
# Creating my student dataset manually
data = {
    "StudentID": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
                  11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
                  21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
    "Hours_Studied": [7, 7, 5, 7, 8, 4, 1, 3, 4, 1,
                      4, 1, 5, 7, 3, 1, 10, 6, 10, 3,
                      4, 8, 2, 7, 7, 2, 8, 2, 4, 7],
    "Attendance_Percent": [61, 83, 82, 54, 96, 76, 97, 60, 78, 96,
                           51, 60, 64, 80, 85, 52, 76, 87, 53, 76,
                           67, 75, 54, 53, 78, 93, 85, 70, 61, 88],
    "Passed": ['Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes',
               'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes',
               'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'No']
}

# Step: Converting to a DataFrame
df = pd.DataFrame(data)

In [3]:
#Display the full dataset
print(df)

    StudentID  Hours_Studied  Attendance_Percent Passed
0           1              7                  61    Yes
1           2              7                  83    Yes
2           3              5                  82    Yes
3           4              7                  54    Yes
4           5              8                  96    Yes
5           6              4                  76    Yes
6           7              1                  97     No
7           8              3                  60    Yes
8           9              4                  78     No
9          10              1                  96    Yes
10         11              4                  51    Yes
11         12              1                  60    Yes
12         13              5                  64    Yes
13         14              7                  80    Yes
14         15              3                  85    Yes
15         16              1                  52     No
16         17             10                  76    Yes
17         18              6                  87     No
18         19             10                  53    Yes
19         20              3                  76    Yes
20         21              4                  67     No
21         22              8                  75    Yes
22         23              2                  54    Yes
23         24              7                  53    Yes
24         25              7                  78     No
25         26              2                  93    Yes
26         27              8                  85     No
27         28              2                  70     No
28         29              4                  61    Yes
29         30              7                  88     No

In [4]:
#Show the first 5 rows
print(df.head())

   StudentID  Hours_Studied  Attendance_Percent Passed
0          1              7                  61    Yes
1          2              7                  83    Yes
2          3              5                  82    Yes
3          4              7                  54    Yes
4          5              8                  96    Yes

In [5]:
#Count how many students have passed vs failed
print(df['Passed'].value_counts())

Passed
Yes    21
No      9
Name: count, dtype: int64

In [6]:
#Calculate average hours studied
average_hours = df['Hours_Studied'].mean()
print("Average Hours Studied:", round(average_hours, 2))

Average Hours Studied: 4.93

In [7]:
#Calculate average attendance of students who passed
passed_students = df[df['Passed'] == 'Yes']
average_attendance = passed_students['Attendance_Percent'].mean()
print("Average Attendance of Students Who Passed:", round(average_attendance, 2))

Average Attendance of Students Who Passed: 70.9